.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-top:11%;
  }
  
  .user-container {
    height: 90vh;
    margin-top: -12.75%;
    display: flex;
    width: 200vh;
    background-color: #eae8e8;
    box-shadow: 0px 0px 10px rgb(255, 254, 254);
    border-radius: 10px;
    overflow: hidden;
    margin-left:5%;
  }

  h1{
    color: #eae8e8;
  }
  
  .left-panel {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-left: 10%;
    height: 20%;
  }

  .right-panel {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  }
  
  .settings {
    margin-top: 20px;
    height: 120%;
    text-align: center;
  }
  
  .image-placeholder {
    width: 75%;
    height:40%;
    margin-bottom:14%;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px 0;
    margin-left:15%;
    margin-bottom:10%;
    margin-top: -15%;
  }
  
  .image-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }
  
  
  
  h3 {
    text-align: center;
    margin-top: 20px;
  }
  
  .input-group {
    margin: 10px 0;
  }
  
  label {
    font-weight: bold;
  }
  
  .input-group label.slider-switch {
    display: block;
    position: relative;
    width: 40px;
    height: 20px;
    background-color: #e3d1d1;
    border-radius: 30px;
    cursor: pointer;
  }
  
  .input-group label.slider-switch.active {
    background-color: #4CAF50;
  }
  
  .input-group label .slider {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    transition: transform 0.2s ease;
  }
  
  .input-group label.slider-switch.active .slider {
    transform: translateX(20px);
  }
  
  .submit-button {
    margin-top: 20px;
    align-self: center;
    padding: 10px 20px;
    background-color: #2E2C34;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #2E2C34;
  }
  